<div class="card">
  <div class="card-header" [ngPlural]="totalCount">
    Found address of {{ totalCount }}
    <span>
      <ng-template ngPluralCase="1">customer</ng-template>
      <ng-template ngPluralCase="other">customers</ng-template>
    </span>
  </div>
  <div class="card-block" *ngIf="entities">
    <pagination [pages]='pages' (notifyPaginationChanged)='updatePaginationAndLoadPage($event)'></pagination>
    <search-parameters-display [searchParameters]='searchParameters' (notifySearchParameterRemoved)='removeSearchParameterAndLoadPage($event)'></search-parameters-display>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>
            <search-dropdown [parameterHeader]='"Customer id"' [parameterName]='"customerId"' (notifyParameterValueChanged)='updateSearchParameterAndLoadPage($event)'>
            </search-dropdown>
          </th>
          <th>
            <search-dropdown [parameterHeader]='"Name"' [parameterName]='"name"' (notifyParameterValueChanged)='updateSearchParameterAndLoadPage($event)'>
            </search-dropdown>
          </th>
          <th>
            <search-dropdown [parameterHeader]='"Address"' [parameterName]='"address"' (notifyParameterValueChanged)='updateSearchParameterAndLoadPage($event)'>
            </search-dropdown>
          </th>
          <th>
            <search-dropdown [parameterHeader]='"Phone number"' [parameterName]='"phoneNumber"' [parameterValueRegex]='"[\\d\\s]\*"' (notifyParameterValueChanged)='updateSearchParameterAndLoadPage($event)'>
            </search-dropdown>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of entities; let idx = index">
          <td>{{ (currentPagination.page * currentPagination.pageSize) + idx + 1 }}</td>
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.name | capitalize }}</td>
          <td>{{ customer.address | capitalize }}</td>
          <td>{{ customer.phoneNumber | formatPhone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-block card-danger" *ngIf="error">
    Oops, could not get any data due to an error: {{ error }}
  </div>
</div>