<div class="card">
  <div class="card-header" [ngPlural]="totalCount">
    Found address of {{ totalCount }}
    <span>
      <ng-template ngPluralCase="1">customer</ng-template>
      <ng-template ngPluralCase="other">customers</ng-template>
    </span>
  </div>
  <div class="card-block" *ngIf="customers">
    <pagination [pages]='pages' (notifyPaginationChanged)='loadPage($event)'></pagination>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Customer id</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let idx = index">
          <td>{{ (currentPage * currentPageSize) + idx + 1 }}</td>
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.name | capitalize }}</td>
          <td>{{ customer.address | capitalize }}</td>
          <td>{{ customer.phoneNumber | formatPhone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-block card-danger" *ngIf="error">
    Oops, could not get any data due to an error: {{ error }}
  </div>
</div>