<div>
  <nav class="navbar navbar-inverse bg-primary">
    <div class="row justify-content-md-center">
      <div class="col">
        <h3>
          <a href="#">
            <span class="badge badge-primary float-left">{{ title }}</span>
          </a>
        </h3>
      </div>
      <div class="col" *ngIf="currentUser">
        <h3>
          <a href="/logout">
            <span class="badge badge-primary float-right">Logout</span>
          </a>
        </h3>
      </div>
    </div>
  </nav>
  <div style="text-align:center">
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>