<div class="card">
  <div class="card-header" [ngPlural]="totalCount">
    Found address of {{ totalCount }}
    <span>
      <ng-template ngPluralCase="1">employee</ng-template>
      <ng-template ngPluralCase="other">employees</ng-template>
    </span>
  </div>
  <div class="card-block" *ngIf="employees">
    <pagination [pages]='pages' (notifyPaginationChanged)='loadPage($event)'></pagination>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Employee id</th>
          <th>Name</th>
          <th>Address</th>
          <th>Office</th>
          <th>Phone number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let idx = index">
          <td>{{ (currentPage * currentPageSize) + idx + 1 }}</td>
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.name | capitalize }}</td>
          <td>{{ employee.address | capitalize }}</td>
          <td>{{ employee.office | capitalize }}</td>
          <td>{{ employee.phoneNumber | formatPhone }}</td>
          <td>{{ employee.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-block card-danger" *ngIf="error">
    Oops, could not get any data due to an error: {{ error }}
  </div>
</div>