<div class="card">
  <div class="card-header" [ngPlural]="totalCount">
    Found address of {{ totalCount }}
    <span>
      <ng-template ngPluralCase="1">employee</ng-template>
      <ng-template ngPluralCase="other">employees</ng-template>
    </span>
  </div>
  <div class="card-block">
    <nav *ngIf="employees">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="pagination float-left">
              <li class="page-item disabled">
                <span class="page-link">Page</span>
              </li>
              <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active' : page == currentPage }">
                <span class="page-link" (click)="loadPage(page)">{{ page + 1 }}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="pagination float-right">
              <li class="page-item disabled">
                <span class="page-link">Page size</span>
              </li>
              <li class="page-item" *ngFor="let pageSize of pageSizes" [ngClass]="{'active' : pageSize == currentPageSize }">
                <span class="page-link" (click)="loadPageSize(pageSize)">{{ pageSize }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th>Employee id</th>
          <th>Name</th>
          <th>Address</th>
          <th>Office</th>
          <th>Phone number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.office }}</td>
          <td>{{ employee.phoneNumber }}</td>
          <td>{{ employee.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>